/* components/PopularTools/PopularTools.module.css */

.container {
  max-width: 375px;
  margin: 0px auto;
  padding: 64px 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 64px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 112px 64px;
  }
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 32px;
}

.more {
  margin-top: 32px;
  text-align: center;
}

.link {
  display: inline-block;
  border: 2px solid #8808cc;
  border-radius: 6px;
  padding: 10px 24px;
  background-color: #8808cc;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.link:hover,
.link:focus {
  background-color: transparent;
  color: #000;
}

.link:active {
  background-color: #e7cdf4;
}
