.container{
    font-family:  "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
    max-width: 375px;
    margin-left: auto;  
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width:1440px;
        
    }
}

.hero{
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('/heroBackground/heroPngMobile.png');
    background-size: cover;
    background-position: center;
    padding: 45px 20px;
    width: 100%;
    height: 320px;
    
}

@media (min-width: 768px) {
    .hero {
        padding: 99.5px 32px;
         background-image: 
            linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url('/heroBackground/heroPngTablet.png'); 
            /* width: 768px;  */
            font-size: 40px;
        }
}
/*  -----  */
  @media (min-width: 1440px) {
    .hero {
        padding: 100px 80px;
        background-image: 
            linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
            url('/heroBackground/heroPngDesktop.png');
        /* width: 1440px; */
        max-width: 1440px;
        height: 518px;    
    }
}  

.content {
    color: white;
    
    
}
/* @media (min-width: 768px) {
    .content {
        
    }
}*/
@media (min-width: 1440px) {
    .content {
       max-width: 1312px;
       height: 143px;
    }
} 


.title{
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.03em;
}
/*
 @media (min-width: 768px) {
    .title {
        
    }
}
*/
@media (min-width: 1440px) {
    .title {
        font-size: 56px; 
    }
} 