.wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
}

.title {
  display: block;
  max-width: 480px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
  text-align: center;
  margin: 0 auto 48px auto;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.secondaryBtn,
.primaryBtn {
  width: 100%;
  height: 41px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  transition: background-color 150ms ease, border-color 150ms ease,
    color 150ms ease;
}

/* secondary */
.secondaryBtn {
  border: 2px solid #000;
  background: transparent;
  color: #000;
}

.secondaryBtn:hover,
.secondaryBtn:focus-visible {
  background-color: #e7cdf4;
}

.secondaryBtn:active {
  background-color: #8808cc;
  border-color: #8808cc;
  color: #fff;
}

/* primary */
.primaryBtn {
  border: 2px solid #8808cc;
  background: #8808cc;
  color: #fff;
}

.primaryBtn:hover,
.primaryBtn:focus-visible {
  background-color: transparent;
  border-color: #8808cc;
  color: #000;
}

.primaryBtn:active {
  background-color: #e7cdf4;
  border-color: #8808cc;
  color: #000;
}

/* disabled */
.primaryBtn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.secondaryBtn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
}

@media (min-width: 1440px) {
  .title {
    font-size: 48px;
    max-width: 570px;
  }

  .secondaryBtn,
  .primaryBtn {
    height: 44px;
    font-size: 16px;
  }
}
