.sectionFeedback {
    padding: 64px 20px;
}

.feedbackName {
    width: 100%;
    height: 43px;
    font-weight: 700;
    font-size: 32px;
}

/* .feedback-p {
    margin-top: 24px;
} */

.feedbackSwiper {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 100%;
}

/* .feedback-swiper {
    width: 100%;
} */

.feedbackControls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
    gap: 16px;
    width: 100%;
}

@media only screen and (min-width: 375px) {
    /* .feedbackControls {
        justify-content: center;
    } */

    .feedbackNavButtons {
        margin-left: 0;
    }
}

/* .feedbackPagination {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
} */

/* .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: #080c09;
    opacity: 0.5;
    border-radius: 50%;
} */

/* .swiper-pagination-bullet-active {
    opacity: 1;
    background: #080c09 !important;
} */

/* html.dark .swiper-pagination-bullet {
    background: #fff !important;
} */

/* html.dark .swiper-pagination-bullet-active {
    background: #fff !important;
} */


.feedbackNavButtons {
    display: flex;
    gap: 16px;
    margin-left: 20px;
}

@media only screen and (max-width: 375px) {
    .feedback-nav-buttons {
        margin-left: 0;
    }
}

.feedback-pagination.swiper-pagination {
    position: static !important;
    width: auto !important;
    transform: none !important;
    left: auto !important;
    right: auto !important;
    top: auto !important;
    bottom: auto !important;
    margin: 0 !important;
}

.navBtn {
    background-color: #ffffff;
    border: 2px solid #080c09;
    border-radius: 5%;
    cursor: pointer;
    width: 48px;
    height: 48px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBtn:hover {
    background-color: #d1d1d1;
}

.prevBtn {
    transform: rotate(0deg);
    fill: #080c09;
}

.nextBtn {
    transform: rotate(0deg);
    fill: #080c09;
}

.navBtn.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.feedback-card {
    background-color: none;
    text-align: center;
}

.star-rating {
    display: flex;
    gap: 4px;
    margin-bottom: 24px;
    color: yellow;
}

.star-rating svg {
    fill: #080c09;
}

html.dark .star-rating svg {
    fill: #fff;
}

.section-feedback .star {
    width: 20px;
    height: 20px;
}

.feedback-text {
    text-align: left;
    max-width: 287px;
}

.feedback-author {
    margin-top: 24px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    text-align: left;
    /* color: var(--color-scheme-1-text); */
}

@media only screen and (min-width: 768px) {
    .section-feedback {
        padding: 32px 0;
    }

    /* .feedback-controls {
        justify-content: space-between;
    } */

    .feedback-text {
        max-width: 292px;
    }
}

@media only screen and (min-width: 1440px) {
    .section-feedback {
        padding: 64px 0;
    }

    .feedback-text {
        max-width: 373px;
    }
}