.container {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}

.sectionFeedback {
  padding: 64px 20px;
}

.feedbackName {
  width: 100%;
  height: 43px;
  font-weight: 700;
  font-size: 32px;
}

.feedbackSwiper {
  margin-top: 80px;
  flex-direction: column;
  gap: 48px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 48px;
}

.feedbackControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.feedbackPagination {
  position: relative !important;
  width: 80px !important;
  overflow: hidden;
  display: block !important;
  margin: 0 !important;
  flex-shrink: 0;
  bottom: auto !important;
  top: auto !important;
  left: auto !important;
  transform: none !important;
}

.feedbackPagination :global(.swiper-pagination-lock) {
  display: none;
}

.feedbackPagination :global(.swiper-pagination-bullet) {
  width: 8px;
  height: 8px;
  background: #080c09;
  opacity: 0.5;
  border-radius: 50%;
}

.feedbackPagination :global(.swiper-pagination-bullet-active) {
  background: #080c09 !important;
  opacity: 1;
}

.feedbackPagination :global(.swiper-pagination-bullets-dynamic) {
  left: 0 !important;
  transform: none !important;
  white-space: nowrap;
  display: flex !important;
  align-items: center;
  transition: 0.3s transform;
}

.feedbackPagination :global(.swiper-pagination-bullet-active-main) {
  transform: scale(1) !important;
  opacity: 1;
}

.feedbackPagination :global(.swiper-pagination-bullet-active-prev),
.feedbackPagination :global(.swiper-pagination-bullet-active-next) {
  transform: scale(0.8) !important;
  opacity: 0.7;
}

.feedbackPagination :global(.swiper-pagination-bullet-active-prev-prev),
.feedbackPagination :global(.swiper-pagination-bullet-active-next-next) {
  transform: scale(0.6) !important;
  opacity: 0.4;
}

.feedbackNavButtons {
  display: flex;
  gap: 16px;
  flex-shrink: 0;
}

.navBtn {
  background-color: #ffffff;
  border: 2px solid #080c09;
  border-radius: 5%;
  cursor: pointer;
  width: 48px;
  height: 48px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBtn:hover {
  background-color: #d1d1d1;
}

.prevBtn {
  transform: rotate(0deg);
  fill: #080c09;
}

.nextBtn {
  transform: rotate(0deg);
  fill: #080c09;
}

.navBtn.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.feedbackCard {
  margin-bottom: 48px;
}

.starRating {
  display: flex;
  gap: 4px;
  margin-bottom: 32px;
}

.starRating svg {
  fill: #080c09;
}

.feedbackText {
  margin-top: 32px;
  max-width: 335px;
  font-size: 16px;
}

.feedbackAuthor {
  margin-top: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .sectionFeedback {
    padding: 64px 32px;
  }

  .feedbackText {
    max-width: 336px;
  }

  .feedbackSwiper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  .feedbackSwiper {
    grid-template-columns: repeat(3, 1fr);
  }

  .sectionFeedback {
    padding: 112px 64px;
  }

  .feedbackText {
    max-width: 416px;
  }
}
