body {
    background: #f2f2f2;
    font-family: "Inter", sans-serif;
}

.container {
    margin: 0px auto;
    padding: 48px 0px 116px 0px;
    max-width: 1312px;
}

.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    color: #000;
    margin-bottom: 32px;
}