/* components\ToolCard\ToolCard.module.css */

.card {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: 413px;
    overflow: hidden;
    border-radius: 16px;
    margin-bottom: 16px;
}

/* ===== Tablet: 768px+ ===== */
@media (min-width: 768px) {
    .imageWrapper {
        height: 414px;
    }
}

/* ===== Desktop: 1440px+ ===== */
@media (min-width: 1440px) {
    .imageWrapper {
        height: 374px;
    }
}

.image {
    object-fit: cover;
    object-position: center;
}

.name {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    margin: 8px 0;
}

.price {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
}

.link {
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
    border: 2px solid #000;
    border-radius: 6px;
    padding: 8px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    text-align: center;
}

.link:hover,
.link:focus {
    background-color: #e7cdf4;
}

.link:active {
    background-color: #8808cc;
    border-color: #fff;
    color: #fff;
}


.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.stars {
    color: #000;
    font-size: 20px;
}

.starRating {
    display: flex;
    gap: 4px;
}

.star {
    fill: currentColor;
}