.card {
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.image {
  width: 100%;
  height: 374px;
  object-fit: cover;
  border-radius: 16px;
  object-position: center;
  display: block;
  margin-bottom: 16px;
}

.name {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #000;
  margin: 8px 0;
}

.price {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

.link {
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.2s ease, border-color 0.2s ease,
    color 0.2s ease;
  border: 2px solid #000;
  border-radius: 6px;
  padding: 8px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  text-align: center;
}

.link:hover,
.link:focus {
  background-color: #e7cdf4;
}

.link:active {
  background-color: #8808cc;
  border-color: #fff;
  color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.stars {
  color: #000;
  font-size: 20px;
}

.starRating {
  display: flex;
  gap: 4px;
}

.star {
  fill: currentColor;
}
