.page {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 32px;
    padding-bottom: 64px;
    max-width: 1440px;

    /* пременно, удалить при пуше */
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 768px) {
  .page {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1440px) {
  .page {
    grid-template-columns: 1.2fr 1fr;
    align-items: start;
    flex-direction: row;
    padding-top: 48px;
    padding-bottom: 112px;
  }
}