.container {
  max-width: 1312px;
  margin: 0 auto;
  padding: 0 64px 80px 64px;
  min-height: calc(100vh - 200px);
}

@media (max-width: 1024px) {
  .container {
    padding: 0 40px 60px 40px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px 40px 20px;
  }
}
