.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  height: 100%;
}

.modal {
  position: relative;
  background: #fff;
  border-radius: 16px;
  width: 100%;
  padding: 64px 20px;
  text-align: center;
  /* удалить */
  margin-left: 16px;
  margin-right: 16px;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 16px;
  top: 16px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 6px;
<<<<<<< HEAD
  transition:
    border-color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.close:hover, .close:focus {
=======
  transition: border-color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.close:hover,
.close:focus {
>>>>>>> origin/testtoolsdetail-y
  border: 1px solid #000;
  border-radius: 6px;
  background: #e7cdf4;
}
.closeIcon {
  width: 24px;
  height: 24px;
  color: #000;
}

.title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;
  margin-bottom: 16px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #000;
  margin-bottom: 48px;
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  color: #000;
  background-color: transparent;
  border-radius: 6px;
  padding: 10px 24px;
  width: 100%;
  height: 41px;
  cursor: pointer;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
<<<<<<< HEAD
  transition:
    color 250ms ease-in-out,
    background-color 250ms ease-in-out,
    border-color 250ms ease-in-out;
}

.login:hover{
=======
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out,
    border-color 250ms ease-in-out;
}

.login:hover {
>>>>>>> origin/testtoolsdetail-y
  background-color: #e7cdf4;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #8808cc;
  background-color: #8808cc;
  color: #fff;
  border-radius: 6px;
  padding: 10px 24px;
  width: 100%;
  height: 41px;
  cursor: pointer;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
<<<<<<< HEAD
  transition:
    color 250ms ease-in-out,
    background-color 250ms ease-in-out,
=======
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out,
>>>>>>> origin/testtoolsdetail-y
    border-color 250ms ease-in-out;
}

.register:hover {
  background-color: transparent;
  color: #000;
}

@media only screen and (min-width: 768px) {
  .modal {
    max-width: 704px;
    padding: 64px 32px;
    /* удалить */
    margin-left: 32px;
    margin-right: 32px;
  }

  .wrap {
    flex-direction: row;
  }
}

<<<<<<< HEAD

=======
>>>>>>> origin/testtoolsdetail-y
@media only screen and (min-width: 1440px) {
  .modal {
    padding: 64px;
    min-width: 768px;
  }

  .close {
    width: 32px;
    height: 32px;
  }

  .title {
    font-size: 48px;
  }

  .text {
    font-size: 18px;
  }

  .login,
  .register {
    height: 44px;
    font-size: 16px;
  }
}
<<<<<<< HEAD


=======
>>>>>>> origin/testtoolsdetail-y
