/* === NEW: page container === */
.toolContainer {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.toolTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #000;
  margin: 0 0 8px;
}

.toolPrice {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #000;
  margin-bottom: 24px;
}

.toolOwner {
  display: flex;
  margin-bottom: 24px;
}

.ownerAvatar {
  width: 80px;
  border-radius: 100%;
  margin-right: 16px;
}

.ownerAvatarFallback {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #e7cdf4;
  color: #000;

  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}

.ownerInfo {
  flex: 1;
  min-width: 0;
}

.ownerName {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

.ownerLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  border: 2px solid #000;
  border-radius: 6px;
  background-color: transparent;

  padding: 8px 20px;
  width: 192px;
  height: 37px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  text-decoration: none;

  transition: color 250ms ease-in-out, background-color 250ms ease-in-out,
    border-color 250ms ease-in-out;
}

.ownerLink:hover {
  background-color: #e7cdf4;
}

.toolDescr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  margin-bottom: 24px;
}

.toolSpec {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  margin-bottom: 24px;
}

.toolSpecTitle {
  font-weight: 700;
}

.toolBut {
  width: 100%;
  max-width: 335px;

  background-color: #8808cc;
  border: 1px solid #8808cc;
  color: #ffffff;
  border-radius: 6px;

  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}

.toolBut:hover {
  background-color: #ffffff;
  border: 2px solid #8808cc;
  color: #000;
}

.toolBut:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

/* === tablet === */
@media (min-width: 768px) {
  .toolContainer {
    max-width: 768px;
    padding: 0 32px;
  }

  .toolBut {
    max-width: 704px;
  }
}

/* === desktop === */
@media (min-width: 1440px) {
  .toolContainer {
    max-width: 1440px;
    padding: 0 64px;
  }

  .toolTitle {
    font-size: 40px;
  }

  .toolPrice {
    font-size: 24px;
  }

  .toolDescr {
    font-size: 16px;
  }

  .toolBut,
  .toolPrice,
  .toolSpec,
  .toolDescr,
  .toolTitle {
    max-width: 640px;
  }

  .ownerLink {
    width: 214px;
    font-size: 16px;
    height: 40px;
  }
}
