.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #000;
  margin: 0 0 8px;
}

.price {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #000;
  margin-bottom: 24px;
}

.toolOwner {
  display: flex;
  margin-bottom: 24px;
}

.ownerAvatar {
  width: 80px;
  border-radius: 100%;
  margin-right: 16px;
}

.ownerInfo {
  flex: 1;
  min-width: 0;
}

.ownerName {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

.ownerLink {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  border: 2px solid #000;
  border-radius: 6px;
  background-color: transparent;
  padding: 8px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  width: 192px;
  height: 37px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: #000;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out,
    border-color 250ms ease-in-out;
}

.ownerLink:hover {
  background-color: #e7cdf4;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  margin-bottom: 24px;
}

.toolSpec {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  margin-bottom: 24px;
}

.toolSpecTitle {
  font-weight: 700;
}

.bookBut {
  width: 100%;
  max-width: 335px;

  background-color: #8808cc;
  border: 1px solid #8808cc;
  color: #ffffff;
  border-radius: 6px;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  text-decoration: none;
}

.bookBut:hover {
  background-color: #ffffff;
  border: 2px solid #8808cc;
  color: #000;
}

.bookBut:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .bookBut {
    max-width: 704px;
  }
}

@media (min-width: 1440px) {
  .toolInfo {
    padding-left: 0;
    margin-left: 0;
  }
  .title {
    font-size: 40px;
  }
  .price {
    font-size: 24px;
  }
  .description {
    font-size: 16px;
  }
  .bookBut,
  .price,
  .toolSpec,
  .description,
  .title {
    max-width: 640px;
  }
}
