.toolBut {
  width: 100%;
  max-width: 335px;
}


/* .toolBut:hover {
  background: var(--color-white);
  outline: 1px solid var(--color-electric-violet-dark);
  color: var(--color-neutral-darkest);
}


.toolBut:active {
  background: var(--color-electric-violet-lighter);
  outline: 1px solid var(--color-electric-violet-dark);
  color: var(--color-neutral-darkest);
}


.toolBut:disabled {
  background: var(--color-electric-violet-lighter);
  outline: 1px solid var(--color-electric-violet-lighter);
  color: var(--color-white);
  cursor: default;
} */


.toolTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #000;
  margin-bottom: 8px;
}


.toolPrice {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #000;
  margin-bottom: 24px;
}


.toolDescr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  margin-bottom: 24px;
}


.toolSpec {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  margin-bottom: 24px;
}


.toolSpecTitle {
  font-weight: 700;
}


.toolOwner {
  display: flex;
  margin-bottom: 24px;
}


.ownerInfo {
  flex: 1;
  min-width: 0;
}


.ownerAvatar {
  width: 80px;
  border-radius: 100%;
  margin-right: 16px;
}


.ownerName {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}


@media (min-width: 768px) {
  .toolBut {
    max-width: 704px;
  }
}


@media (min-width: 1440px) {
  .toolInfo {
    padding-left: 0;


    margin-left: 0;
  }


  .toolBut,
  .toolPrice,
  .toolSpec,
  .toolDescr,
  .toolTitle {
    max-width: 640px;
  }
}
