.page {
  padding: 24px 16px;
}

.title {
  margin-bottom: 24px;
  font-size: 22px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .page {
    padding: 32px;
  }

  .title {
    font-size: 26px;
  }
}
