.trigger {
  width: 100%;
  height: 48px;
  padding: 10px 12px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #000;
  border-radius: 6px;
  background: #fff;
  color: #000;
  line-height: 1.5;
  font-size: 12px;
  transition: background-color 150ms ease, border-color 150ms ease,
    color 150ms ease;
}

.trigger:hover,
.trigger:focus-visible {
  background-color: #e7cdf4;
}

.trigger:focus {
  outline: none;
}

.trigger[data-state="open"] {
  border-color: #ab52db;
  background-color: #e7cdf4;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}

.iconDown,
.iconUp {
  display: none;
}

/* закрито -> down */
.trigger .iconDown {
  display: block;
}

/* відкрито -> up */
.trigger[data-state="open"] .iconDown {
  display: none;
}
.trigger[data-state="open"] .iconUp {
  display: block;
}

/* якщо треба, щоб svg наслідував колір */
.iconDown,
.iconUp {
  fill: currentColor;
}

/* dropdown */
.content {
  z-index: 50;
  border: 2px solid #ab52db;
  border-radius: 6px;
  background: #f3e6f9;
  overflow: hidden;
  width: var(--radix-select-trigger-width);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -2px;
}

.viewport {
  max-height: 220px;
  overflow: auto;
  padding: 0;
  background: #f3e6f9;
}

/* option */
.item {
  height: 28px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  cursor: pointer;
  user-select: none;
  border-radius: 0;
  font-size: 12px;
  line-height: 1;
}

/* hover/focus on option */
.item[data-highlighted] {
  outline: none;
  background: #e7cdf4;
}

/* selected option */
.item[data-state="checked"] {
  background: #e7cdf4;
}

.check {
  display: none;
}

@media (min-width: 768px) {
  .trigger,
  .item {
    font-size: 16px;
  }
}
