.page {
display: flex;
justify-content: center;
align-items: center;
background-color: #f2f2f2;
}

.card {
display: flex;
flex-direction: column;
gap: 16px;
width: 100%;
max-width: 375px;
padding: 32px 20px;
text-align: center;
}

/* done */
.title {
font-weight: 700;
font-size: 36px;
line-height: 120%;
letter-spacing: -0.01em;
text-align: center;
color: #000;
}

/* done */
.text {
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
color: #000;
}

.button {
display: block;
width: 100%;
padding: 8px;
background-color: #8808cc;
border: 1px solid #8808cc;
color: #ffffff;
border-radius: 6px;
font-size: 14px;
font-weight: 500;
line-height: 150%;
text-decoration: none;
/* transition: background-color 0.2s ease; */
}

.button:hover,.button:focus {
background-color: #ffffff;
border: 2px solid #8808cc;
color: #000;
}