.container {
  max-width: 1312px;
  margin: 0 auto;
  padding-top: 48px;
  padding-left: 64px;
  padding-right: 64px;
  padding-bottom: 80px;
  min-height: calc(100vh - 200px);
}

@media (max-width: 1024px) {
  .container {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-top: 32px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
  }
}
